          <style id="publication_css">
            .pubtitle {
            margin-bottom: 0.5em;
            line-height: 1.2em;
            font-weight: bold;
          }
          </style>

          <div class="publications">
            <h2>Selected Publications</h2>
            <p class="mb-2"># indicates co-first author, * indicates corresponding author, \(^{\dagger}\) indicates project lead.</p>
            {% bibliography -f {{ site.scholar.bibliography }} -q @*[selected=true]* %}
          </div>


